.venv
.env
__pycache__
*.egg-info
wandb
*.wav
*.npy
!checkpoints/smoltts_init/config.json

# Artifacts
*.safetensors
checkpoints
datasets
inits
mlx_trace*
pytorch_trace.json
!docs/examples/*.wav
!mlx_inference/tests/sky.wav
